:root{
  --app-main:rgb(255, 255, 255);  // 主背景色
  --login-main:rgba(55, 98, 130,1); //登录界面主色调
  // main
  --main-color:rgba(255,255,255,1);
  --main-list-text: rgba(64, 158, 255,1);
  --main-icon:rgba(64, 158, 255,1);
  --main-node:rgb(89,167,255);
  --main-router-back:rgba(245, 248, 247,1);
  //滚动条
  --scrollbar-color: rgb(187, 187, 187);
  --scrollbar-color-hover: rgb(147, 147, 147);
}
